@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

/* Add these styles to your CSS or stylesheet */


  background: rgb(251, 251, 253)
}
@keyframes fade-in {
  0% {
      transform:   translateY(-100%);
  }
  100% {
    transform:   translateY(0%);
  }
}

.modal-fade-enter {
  animation: fade-in 1s linear;

}

